
<div class="row">
  <div class="col-md-8 col-md-offset-2">

      <a href="/photos/new" class="btn btn-default btn-block"><i class="fa fa-plus"></i></a>
    </div>
  </div>








<% @photos.each do |photo| %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading"> <%= photo.user.username %> <small>   <%= time_ago_in_words (photo.created_at) %> ago</small></div>
      <div class="panel-body">
        <img src="<%= photo.image %>" class ="img-responsive"></td>




        <div class="btn-group btn-group-justified" role="group" >
          <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>

          <% if current_user.id == photo.user_id %>

          <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>

          <% else %>

        </div>
        <% end %>






      </div>
    </div>

  </div>
</div>
<%end%>
